<ion-header>
  <ion-toolbar>
    <ion-title>New Tournament</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Tournament's name</ion-label>
      <ion-input [(ngModel)]="newCurrentTournament.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Number of teams</ion-label>
      <ion-input [(ngModel)]="newCurrentTournament.rosterNumber" type="number"></ion-input>
    </ion-item>
    <ion-list *ngIf="newCurrentTournament.rosterNumber >= 2">
      <ion-item *ngFor="let roster of newCurrentTournament.rosters">
        <ion-label position="stacked"> Team number : {{ roster.id }}</ion-label>
        <ion-input [(ngModel)]="roster.name"></ion-input>
      </ion-item>
    </ion-list>
  </ion-list>
  <ion-button (click)="handleSave()">SAVE</ion-button>
  <ion-button (click)="handleCreate()">CREATE</ion-button>
</ion-content>
