<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste d'élève</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let student of students">
      <code *ngIf="result"> {{ result }} </code>
      <ion-item>
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label>{{student.firstName}} {{student.lastName}}</ion-label>
        <ion-icon *ngIf="student.status == 'present'" slot="end" name="eye-outline"></ion-icon>
        <ion-icon *ngIf="student.status == 'absent'" slot="end" name="eye-off-outline"></ion-icon>
        <ion-buttons slot="end">
          <ion-button (click)="presentActionSheet(student)">
            <ion-icon slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-icon routerLink="/etudiant/{{ student.id }}" routerDirection="forward" slot="end" name="chevron-forward-outline"></ion-icon>

      </ion-item>
      <ion-item-options>
        <ion-item-option (click)='presentAlert(student)' color="danger">Delete</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <div class="container">
    <ion-button (click)="presentActionSheet()">Open</ion-button>
    <code *ngIf="result"> {{ result }} </code>
  </div>

  <div><input [(ngModel)]="textVariable" type="text"></div>
  <div>{{textVariable}}</div>
</ion-content>
