<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" routerLink="/roster" routerDirection="forward" name="arrow-back-outline"></ion-icon>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ etudiantDetails.firstName }} {{ etudiantDetails.lastName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Prénom</ion-label>
      <ion-input [(ngModel)]="editedDetails.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Prénom</ion-label>
      <ion-input [(ngModel)]="editedDetails.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Prénom</ion-label>
      <ion-input [(ngModel)]="editedDetails.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Prénom</ion-label>
      <ion-input [(ngModel)]="editedDetails.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Prénom</ion-label>
      <ion-input [(ngModel)]="editedDetails.firstName"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button (click)="handleSave()"></ion-button>
</ion-content>
