<ion-app>
    <!-- the main content -->
    <ion-router-outlet id="main-content"></ion-router-outlet>

    <!-- Navigation -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button *ngFor="let page of appPages" [tab]="page.url">
        <ion-icon [name]="page.icon"></ion-icon>
        <ion-label>{{ page.title }}</ion-label>
        <ion-badge color="success" *ngIf="page.title == 'Tournaments'">{{ tournaments.length }}</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
